<script>
  import { getGazefilterContext, setGazefilterContext } from "../context";
  import LinearProgress from '@smui/linear-progress';

  export let gazefilter;
  export const WASM_URL = "gazefilter.wasm";
  export let isLoading, isLoaded;

//   gazefilter = gazefilter || (window && window.gazefilter); //// ?????
  gazefilter = gazefilter || getGazefilterContext() || (window && window.gazefilter);

  if (!gazefilter) {
      throw Error(
      `No gazefilter was provided. `
      `You must provide an gazefilter module or make it available globally.`
    );
  }

  setGazefilterContext(gazefilter);

  let canvas;
  const visualizer = getGazefilterContext().getVisualizer();
  const tracker = getGazefilterContext().getTracker();

  async function connectClick() {
  
    visualizer.setCanvas(canvas);

    isLoading = true; 

    await tracker.connect();
    isLoading = false;
    isLoaded = true;
  };

  async function disconnectClick() {
    gazefilter.tracker.dispose();

    isLoading = false;
    isLoaded = false;  
  }


</script>

{#await gazefilter.init(WASM_URL)}
  <LinearProgress progress={0.5} buffer={0.75} />
  <p class="notification">Please, wait for download!</p>
    {:then value}
     <!-- value -->
      {#if !isLoading && !isLoaded}
        <button on:click={connectClick} class="btn-connect">Connect</button>
      {/if}

      {#if isLoading}
        <button disabled class="btn-connect">Connecting..</button>
      {/if}

      {#if isLoaded}
        <button on:click={disconnectClick} class="btn-disconnect">Disconnect</button>
      {/if}
      <canvas bind:this={canvas}></canvas>
  {:catch error}
   <!-- promise was rejected -->
   <p>Something went wrong: {error.message}</p>
{/await}

<style>
  .notification {
    color: #404040;
    font-family: Lucida Console, sans-serif;
    font-size: 20px;
    text-align: center;
  }

  .btn-connect,
  .btn-disconnect {
    border: none;
    background: #404040;
    color: #ffffff;
    font-weight: 100;
    font-family: Lucida Console, sans-serif;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    margin-top: 30px;
  }

  .btn-disconnect {
    background: crimson;
  }

  .btn-connect:hover,
  .btn-disconnect:hover {
    color: #404040;
    font-weight: 700;
    letter-spacing: 3px;
    background: #FFFFFF;
    box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
  }

</style>