<script>
  import gazefilter from "gazefilter";
  import Gazefilter from './components/Gazefilter.svelte';
 

</script>

<main>
  <h1>Gaze traking app</h1>
  <Gazefilter {gazefilter} />
</main>




<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    max-width: 240px;
    margin: 0 auto;
  }

  h1 {
    color: #404040;
    font-family: Lucida Console, sans-serif;
    text-transform: uppercase;
  }


  @media (min-width: 640px) {
    main {
      max-width: none;
    }
  }
</style>
